**
!Dockerfile
!.dockerignore
!pyproject.toml
!README.md
!LICENSE
!export-manifest.json
!export-provenance.json
!unio_collector
!unio_collector/**
!tools
!tools/__init__.py
!tools/collector_repository
!tools/collector_repository/**
!requirements
!requirements/container-runtime.lock
!docs
!docs/**
